{# _includes/service_capabilities.j2 #}
{% if svc_data.capabilities is defined and svc_data.capabilities | length > 0 %}
    cap_add:
{% for capability in svc_data.capabilities %}
      - "{{ capability }}"
{% endfor %}
{% endif %}
{# end #}
