{# _includes/service_configs.j2 #}
{% if svc_data.configs is defined and svc_data.configs | length > 0 %}
    configs:
{% for config in svc_data.configs %}
      - source: "{{ config.source | regex_replace('\\.j2$', '') }}"
        target: "{{ config.target }}"
{% if config.uid is defined %}
        uid: "{{ config.uid }}"
{% endif %}
{% if config.gid is defined %}
        gid: "{{ config.gid }}"
{% endif %}
        mode: "{{ config.mode }}"
{% endfor %}
{% endif %}
{# end #}