{# _includes/service_configs.j2 #}
{% set use_external = compose_stack_config[svc_data.name].external_configs | default(false) %}
{% set config_list = compose_stack_config[svc_data.name].configs if use_external else svc_data.configs | default([]) %}
{% if config_list | length > 0 %}
    configs:
{% for config in config_list %}
{% if use_external %}
      - source: "{{ config.source | basename | regex_replace('\\.j2$', '') }}"
{% else %}
      - source: "{{ config.source | regex_replace('\\.j2$', '') }}"
{% endif %}
        target: "{{ config.target }}"
{% if config.uid is defined %}
        uid: "{{ config.uid }}"
{% endif %}
{% if config.gid is defined %}
        gid: "{{ config.gid }}"
{% endif %}
        mode: "{{ config.mode }}"
{% endfor %}
{% endif %}
{# end #}