---
- name: Prepare
  hosts: all
  gather_facts: True
  tasks:
    - name: Create Docker networks for traefik stack
      community.docker.docker_network:
        name: "{{ item }}"
        driver: bridge
        state: present
      loop:
        - traefik-dev
...
