---
services:
  - name: "traefik"
    image: "traefik:v3.6"

    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"

    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/ping"]
      interval: "30s"
      timeout: "10s"
      retries: 3
      start_period: "60s"

    bind_mounts:
      - "/var/run/docker.sock:/var/run/docker.sock"

    labels:
      traefik:
        enabled: true
        pattern: "default"
      raw:
        - 'traefik.http.routers.__CONTAINER_NAME__-https.service=api@internal'

    configs:
      - source: "traefik.yaml.j2"
        target: "/etc/traefik/traefik.yaml"
        uid: "0"
        gid: "0"
        mode: "0644"
      - source: "tls.yml.j2"
        target: "/etc/traefik/tls.yml"
        uid: "0"
        gid: "0"
        mode: "0644"
...
