apiVersion: 1

datasources:

  - name: influxdb
    type: influxdb
    uid: DS_INFLUXDB
    access: proxy
    isDefault: true
    user: {{ compose_stack_config.influxdb.admin_user }}
    url: http://{{ stack.name }}-influxdb:8086
    jsonData:
      dbName: {{ compose_stack_config.influxdb.database }}
      httpMode: GET
    secureJsonData:
      password: {{ compose_stack_config.influxdb.admin_password }}

  - name: prometheus
    type: prometheus
    uid: DS_PROMETHEUS
    access: proxy
    url: http://{{ stack.name }}-prometheus:9090
    jsonData:
      httpMethod: POST
