{# includes/networks.j2 #}
{%- set all_networks = [stack.name] + (stack.additional_networks | default([])) %}
networks:
{% for network in all_networks %}
  "{{ network }}":
    external: true
{% endfor %}
{# end #}