{# includes/service_networks.j2 #}
{% if svc_data.network_mode is not defined %}
{%- set all_networks = [stack.name] + (stack.additional_networks | default([])) %}
    networks:
{% for network in all_networks %}
      - "{{ network }}"
{% endfor %}
{% endif %}
{# end #}