{# includes/service_labels.j2 #}
{% if svc_data.labels is defined %}
    labels:
{# --- BEGIN: TRAEFIK-SPECIFIC LABELS --- #}
{% if svc_data.labels.traefik is defined and svc_data.labels.traefik.enabled and svc_data.labels.traefik.pattern == "default" %}
      - "traefik.enable=true"
      - "traefik.http.routers.{{ container_name }}-http.rule=Host(`{{ container_name }}.{{ stack.domain }}`)"
      - "traefik.http.routers.{{ container_name }}-http.entrypoints=http"
      - "traefik.http.middlewares.{{ container_name }}-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.{{ container_name }}-http.middlewares={{ container_name }}-https-redirect"
      - "traefik.http.routers.{{ container_name }}-https.rule=Host(`{{ container_name }}.{{ stack.domain }}`)"
      - "traefik.http.routers.{{ container_name }}-https.entrypoints=https"
      - "traefik.http.routers.{{ container_name }}-https.tls=true"
{% endif %}
{# --- END:   TRAEFIK-SPECIFIC LABELS --- #}
{# --- BEGIN: RAW LABELS --- #}
{% if svc_data.labels.raw is defined and svc_data.labels.raw | length > 0 %}
{% for label_raw in svc_data.labels.raw %}
      - "{{ label_raw | replace('__CONTAINER_NAME__', container_name) }}"
{% endfor %}
{% endif %}
{# --- END:   RAW LABELS --- #}
{% endif %}
{# end #}