{# includes/service_networks.j2 #}
{% if stack.networks is defined and stack.networks | length > 0 %}
    networks:
{% for network in stack.networks %}
      - "{{ network.name }}"
{% endfor %}
{% endif %}
{# end #}