{# Universal compose.yml template - iterates over services list #}
---
services:
{% for svc_data in services %}
  {{ svc_data.name }}:
{% include "includes/service_common.j2" %}
{% include "includes/service_logging.j2" %}
{% include "includes/service_ports.j2" %}
{% include "includes/service_labels.j2" %}
{% include "includes/service_networks.j2" %}
{% include "includes/service_configs.j2" %}

{% endfor %}
{% include "includes/networks.j2" %}
{% include "includes/configs.j2" %}
...
