services:
  nginx-demo:
    container_name: nginx-demo
    image: ubuntu/nginx:latest
    ports:
      - "37080:80"
    restart: unless-stopped
    volumes:
      - "{{ compose_stack_dst_data }}/index.html:/var/www/html/index.nginx-debian.html:ro"
