services:
  nginx-demo:
    container_name: nginx-demo
    image: ubuntu/nginx:latest
    ports:
      - "37080:80"
    restart: unless-stopped

    configs:
      - source: index.nginx-debian.html
        target: /var/www/html/index.nginx-debian.html
        uid: "33"
        gid: "33"
        mode: 0644

configs:
  index.nginx-debian.html:
    content: |
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>nginx-demo</title>
      </head>
      <body>
        <h1>This is the default index.html page</h1>
        <p>Served by the <strong>nginx-demo</strong> container,<br>
        deployed by the <em>"compose-stack"</em> ansible role.</p>
      </body>
      </html>
