services:
  nginx-demo:
    container_name: nginx-demo
    image: ubuntu/nginx:latest
    ports:
      - "37080:80"
    restart: unless-stopped
    configs:
      - source: index.nginx-debian.html
        target: /var/www/html/index.nginx-debian.html
        uid: "33"
        gid: "33"
        mode: 0644
    networks:
      - cnns_demo

configs:
  index.nginx-debian.html:
    content: |
      {{ lookup('template', role_path ~ '/templates/' ~ compose_stack_name ~ '/index.nginx-debian.html.j2') | indent(6) }}

networks:
  cnns_demo:
    external: true